        <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <style>
            .dashboard-wrapper {
                position: relative;
                margin-top: 80px;
                margin: 0 auto;
                max-width:600px;
                background-color: #fff;
                z-index: 99;
                min-height: auto!important;

            }
            .card {
                width: 100%;
                border: solid 1px #009677;
                line-height: 25px;
                padding: 10px;
                border-radius: 0px;
            }

            .card-title {
                color: #009677;
                font-size: 16px ;
                font-family: Arial, sans-serif !important;
                font-weight: bold;
            }

            .card-header {
                border: 0px !important;
            }

            .dashboard-content {
                margin-top: 80px !important;
            }
        </style>
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- ============================================================== -->
                            <!-- pageheader -->
                            <!-- ============================================================== -->

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Manage your personal data</h2>
        </div>
        <div class="section-block" id="basicform">
            <p>We care about your personal data and try our very best to keep it safe. As we also respect your right to understand what data we have, we also allow you to update it yourself. If you would like to remove your account, please click <a href="/account_delete">here</a>, or manage access to your data <a href="/account_consent">here</a>.</p>
        </div>
        <div class="card">
            {{#with user}}
            <h5 class="card-header">Personal data</h5>
            <div class="card-body">
                <form action="account_profile" method="post">
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label">Username</label>
                        <input id="inputText3" type="text" disabled class="form-control" value="{{userName}}">
                    </div>
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label">First name</label>
                        <input id="first_name" name="first_name" type="text" class="form-control" value="{{firstName}}">
                    </div>
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label">Last name</label>
                        <input id="last_name" name="last_name" type="text" class="form-control" value="{{lastName}}">
                    </div>
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label">Job Title</label>
                        <input id="title" name="title" type="text" class="form-control" value="{{title}}">
                    </div>
                    <hr>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <button class="btn btn-primary" type="submit">Update information</button> <a href="/account_profile"><button class="btn btn-default" type="Button">Cancel</button></a>
                    </div>
                </form>
            </div>
            {{/with}}
        </div>
    </div>
</div>


                        </div>
                    </div>
                </div>
            </div>
        <style>
            .shadow {
                background-color: red;
                z-index: 2;
                position: absolute;
                background-image: url('assets/images/bg_shadow.jpg')
            }
        </style>
        <div class="shadow">
        &nbsp;
        </div>
        <script type="text/javascript">
            function setShadow() {
              $(".shadow").css({
                'width': ($(".dashboard-wrapper").width() + 'px')
              });
              $(".shadow").css({
                'height': ($(".dashboard-wrapper").height() + 'px')
              });
              var marginLeft = parseInt($(".dashboard-wrapper").css("margin-left"))+50;
              var marginTop = parseInt($(".dashboard-wrapper").css("margin-top"))-parseInt(($(".dashboard-wrapper").height() + 'px'))+100
              console.log(marginLeft);
              $(".shadow").css({
                'margin-left': marginLeft+ 'px'
              });
              $(".shadow").css({
                'margin-top': marginTop+ 'px'
              });
            }

            $(document).ready(function() {
                setShadow();
            });            

            $( window ).resize(function() {
                setShadow();
            }); 
        </script>




