        <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <style>
            .dashboard-wrapper {
                position: relative;
                margin-top: 80px;
                margin: 0 auto;
                max-width:600px;
                background-color: #fff;
                z-index: 99;
                min-height: auto!important;

            }
            .card {
                width: 100%;
                border: solid 1px #009677;
                line-height: 25px;
                padding: 10px;
                border-radius: 0px;
            }

            .card-title {
                color: #009677;
                font-size: 16px ;
                font-family: Arial, sans-serif !important;
                font-weight: bold;
            }

            .card-header {
                border: 0px !important;
            }

            .dashboard-content {
                margin-top: 80px !important;
            }
        </style>
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- ============================================================== -->
                            <!-- pageheader -->
                            <!-- ============================================================== -->


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Multi-Factor Authentication</h2>
        </div>
        <div class="section-block" id="basicform">
            <p>Improve the security of your account by enabling a second factor. Review the available factors below.</p>
        </div>
        <div class="card">
            <h5 class="card-header">Factors</h5>
            <div class="card-body">
                {{#if smsEnrolled}}
                <p>Your SMS second factor is <b>ACTIVE</b></p>
                <form action="removesms" method="post">
                    <div class="form-group" style="display:none;">
                        <label for="sms_factor_id" class="col-form-label">SMS Factor ID</label>
                        <input id="sms_factor_id" class="form-control" name="sms_factor_id" type="text" value="{{smsFactorId}}"/>
                    </div>
                    <div>
                        <button class="btn btn-danger" type="submit">Reset SMS Factor</button>
                    </div>
                </form>
                
                {{else}}
                <p>Your SMS second factor is <b>INACTIVE</b></p>
                <form  action="configuresms" method="post">
                    <div class="form-group">
                        <label for="phone_number" class="col-form-label">Phone Number</label>
                        <input id="phone_number" class="form-control" name="phone_number" type="tel" />
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Enroll in SMS Factor</button>
                    </div>
                </form>
                {{/if}}

                <hr>
                {{#if otpEnrolled}}
                <p>Your OTP second factor is <b>ACTIVE</b></p>
                <form action="removeotp" method="post">
                    <div class="form-group" style="display:none;">
                        <label for="otp_factor_id" class="col-form-label">OTP Factor ID</label>
                        <input id="otp_factor_id" class="form-control" name="otp_factor_id" type="text" value="{{otpFactorId}}"/>
                    </div>
                    <div>
                        <button class="btn btn-danger" type="submit">Reset OTP Factor</button>
                    </div>
                </form>
                {{else}}
                <p>Your OTP second factor is <b>INACTIVE</b></p>
                {{/if}}
            </div>
        </div>
    </div>
</div>

                            <!-- ============================================================== -->
                            <!-- end pageheader -->
                            <!-- ============================================================== -->
                            <div id="cnt_appLinks" class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <style>
            .shadow {
                background-color: red;
                z-index: 2;
                position: absolute;
                background-image: url('assets/images/bg_shadow.jpg')
            }
        </style>
        <div class="shadow">
        x
        </div>
        <script type="text/javascript">
            function setShadow() {
              $(".shadow").css({
                'width': ($(".dashboard-wrapper").width() + 'px')
              });
              $(".shadow").css({
                'height': ($(".dashboard-wrapper").height() + 'px')
              });
              var marginLeft = parseInt($(".dashboard-wrapper").css("margin-left"))+50;
              var marginTop = parseInt($(".dashboard-wrapper").css("margin-top"))-parseInt(($(".dashboard-wrapper").height() + 'px'))+100
              console.log(marginLeft);
              $(".shadow").css({
                'margin-left': marginLeft+ 'px'
              });
              $(".shadow").css({
                'margin-top': marginTop+ 'px'
              });
            }

            $(document).ready(function() {
                setShadow();
            });            

            $( window ).resize(function() {
                setShadow();
            }); 
        </script>















