{{#with user}}
<form action="savepreferences" method="post">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header" id="top">
                <h2 class="pageheader-title">View your account details</h2>
            </div>
            <div class="section-block" id="basicform">
                <p>This page displays all relevant settings and preferences that we store on your account. Please view the <a href="#">view profile</a> page to understand what personal idendifialble information we store of you.</p>
            </div>
            <div class="card">
                <h5 class="card-header">Preferences</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label for="input-select">Strong authentication</label>
                        <select class="form-control" id="mfa_preferred" name="mfa_preferred">
                            {{#select mfaPreferred}}
                            <option value="false">Disabled</option>
                            <option value="true">Enabled</option>
                            {{/select}}
                        </select>
                    </div>       
                    <div class="form-group">
                        <label for="inputText3" class="col-form-label">Account Type</label>
                        <input id="inputText3" disabled type="text" class="form-control" value="{{account_type}}">
                    </div>
                    <div class="form-group" style="">
                        <label for="inputText3" class="col-form-label">Newsletters</label>
                        <label class="custom-control custom-checkbox">
                            <input id="mail_service" name="mail_service" type="checkbox" {{#ifCond mail_service true}}checked{{/ifCond}} class="custom-control-input"><span class="custom-control-label">Service e-mails ({{mail_service}})</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input id="mail_newsletter" name="mail_newsletter" type="checkbox" {{#ifCond mail_newsletter true}}checked{{/ifCond}} class="custom-control-input"><span class="custom-control-label"> Newsletters ({{mail_newsletter}})</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input id="mail_daydeals" name="mail_daydeals" type="checkbox" {{#ifCond mail_daydeals true}}checked{{/ifCond}} class="custom-control-input"><span class="custom-control-label"> Daily deals ({{mail_daydeals}})</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <button class="btn btn-primary" type="submit">Save</button> <a href="/account_profile"><button class="btn btn-default" type="Button">Cancel</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{/with}}
