<h1>Chnage password</h1>
<form action="/me/change-password" method="post">
<label>Current password:</label>
    <input id="current_password" name="current_password" type="password" />
    <br />
    <label>New password:</label>
    <input id="password" name="password" type="password" />
    <br />
    <label>Repeat password:</label>
    <input id="repeat-password" name="repeat-password" type="password" />
    <br />
    <button>Submit</button>
</form>

<pre>{{error}}</pre>

<a href="/me">Cancel</a>