<h1>Enrolled factors</h1>
{{#each enrolledFactors}}
<pre>{{factorType}}</pre>
{{/each}}
<h1> Factors to enroll</h1>
{{#each factorsToEnroll}}
<pre>{{factorType}}</pre>
{{/each}}

<pre>{{error}}</pre>

<a href="/me">Cancel</a>