        <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <style>
            .dashboard-wrapper {
                position: relative;
                margin-top: 80px;
                margin: 0 auto;
                max-width:600px;
                background-color: #fff;
                z-index: 99;
                min-height: auto!important;

            }
            .card {
                width: 100%;
                border: solid 1px #009677;
                line-height: 25px;
                padding: 10px;
                border-radius: 0px;
            }

            .card-title {
                color: #009677;
                font-size: 16px ;
                font-family: Arial, sans-serif !important;
                font-weight: bold;
            }

            .card-header {
                border: 0px !important;
            }

            .dashboard-content {
                margin-top: 80px !important;
            }
        </style>
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- ============================================================== -->
                            <!-- pageheader -->
                            <!-- ============================================================== -->


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Delegate access to your account</h2>
        </div>
        <div class="section-block" id="basicform">
            <p>You can't always be there when your account needs you. Sometimes you are not the best person to do something. Grant others access to carry out actions on your behalf</p>
        </div>
        <div class="card">
            <h5 class="card-header">Your Delegates </h5>
            <ul class="list-group list-group-flush">
            {{#each delegates}}
                <li class="list-group-item">
                    <h4>{{this.firstName}} {{this.secondName}}</h4>
                    <span>{{this.email}}</span>
                    <div>
                        <a  href="/delegate/remove/{{this.id}}">Remove</a>
                    </div>
                </li>
            {{/each}}
                <li class="list-group-item">
                    <div id="addButton" style="display: block;">
                        <button class="btn btn-primary" onclick="AddDelegateShowHide()">Add</button>
                    </div>
                    <div id="addForm" style="display: none;">
                        <form method="POST" action="/delegate/add">
                            <label for="delegateUser">Email or username</label>
                            <input id="delegateUser" name="delegateUser" value=""/>
                            <button class="btn btn-primary" type="submit">Continue</button>
                            <button class="btn btn-default" type="reset" onclick="AddDelegateShowHide()">Cancel</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
                    </div>
                </div>
            </div>
        <style>
            .shadow {
                background-color: red;
                z-index: 2;
                position: absolute;
                background-image: url('assets/images/bg_shadow.jpg')
            }
        </style>
        <div class="shadow">
        &nbsp;
        </div>
        <script type="text/javascript">
            function setShadow() {
              $(".shadow").css({
                'width': ($(".dashboard-wrapper").width() + 'px')
              });
              $(".shadow").css({
                'height': ($(".dashboard-wrapper").height() + 'px')
              });
              var marginLeft = parseInt($(".dashboard-wrapper").css("margin-left"))+50;
              var marginTop = parseInt($(".dashboard-wrapper").css("margin-top"))-parseInt(($(".dashboard-wrapper").height() + 'px'))+100
              console.log(marginLeft);
              $(".shadow").css({
                'margin-left': marginLeft+ 'px'
              });
              $(".shadow").css({
                'margin-top': marginTop+ 'px'
              });
            }

            $(document).ready(function() {
                setShadow();
            });            

            $( window ).resize(function() {
                setShadow();
            }); 
        </script>


<script>
    function AddDelegateShowHide(){
        var button = document.getElementById("addButton")
        var form = document.getElementById("addForm")
        if (button.style.display === "none") {
            button.style.display = "block";
            form.style.display = "none";
        } else {
            button.style.display = "none";
            form.style.display = "block";
        }
    }
</script>