<h1>Your Access Token</h1>
<pre>{{jwt tokenSet.access_token}}</pre>
<h1>Your ID Token</h1>
<pre>{{jwt tokenSet.id_token}}</pre>

<pre>{{user.lastLogin}}</pre>

<pre>{{error}}</pre>

<a href="/me/edit">Edit profile</a><br />
<a href="/me/change-password">Change Password</a><br />
<a href="/me/configure-mfa">Configure Factors</a><br />

<a href="/logout">Logout</a>