<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Extra Verification</h2>
        </div>
        <div class="section-block" id="basicform">
            <p>This page displays all relevant settings and preferences that we store on your account. Please view the <a href="#">view profile</a> page to understand what personal idendifialble information we store of you.</p>
        </div>
        <div class="card">
            <h5 class="card-header">Enter Verification code</h5>
            <div class="card-body">
                
                <form action="verifysms" method="post">
                    <div class="form-group">
                        <label for="verification_code" class="col-form-label">Verification Code</label>
                        <input id="verification_code" class="form-control" name="verification_code" type="tel" />
                    </div>
                    <input style="display:none;" id="factor_id" name="factor_id" value="{{factorId}}" />
                    <div>
                        <button class="btn btn-primary" type="submit">Verify</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>